* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.app-contenedor {
  padding: 10%;
  margin: 20%;
  background-color: aqua;
  align-items: center;

}

html,
body{
  background-color: #ffff;
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center ;
 justify-content: center;
 padding-top: 50px;
 font-family: Lato, sans-serif;
}
.logo-calculadora-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.logo-calculadora{
  height: 50px;
}
